*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 20em) {
    html {
      font-size: 40%; } }

body {
  font-family: "Nunito", sans-serif;
  font-display: swap;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: [navigation-start] max-content [navigation-end header-start] max-content [header-end about-start] max-content [about-end featured-start] max-content [featured-end feature-start] min-content [feature-end footer-start] 1fr [footer-end];
  grid-template-columns: 1fr repeat(6, [col-start] minmax(min-content, 14rem) [col-end]) 1fr; }

.heading_1, .heading-2, .heading_3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading_1 {
  font-size: 4.5rem;
  color: #f25c05;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f25c05; }
  .heading-2--dark {
    color: #272556; }

.heading_3 {
  font-size: 1.6rem;
  color: #fff2dc;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f25c05; }
  .heading-4--dark {
    color: #272556; }

.btn {
  background-color: #fff2dc;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #fff2dc; }

.hero-btn-text {
  font-size: 1.8rem;
  color: #272556;
  margin: 2.5rem 0; }

.hero-btn-login, .hero-btn-reg {
  background-color: #272556;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.5rem 4.5rem;
  border-radius: 5rem;
  margin-right: 3rem;
  transition: all 0.5s;
  border: none; }
  .hero-btn-login:hover, .hero-btn-reg:hover {
    transform: scale(1.1); }

.hero-btn-reg {
  background-color: #fff;
  color: #272556;
  box-shadow: inset 0px 0px 0px 2px #272556;
  transition: all 0.5s; }
  .hero-btn-reg:hover {
    transform: scale(1.1);
    background-color: #e9e9ee; }

.section-hero {
  background-image: linear-gradient(to right, rgba(253, 241, 221, 0.93), rgba(255, 242, 220, 0.93));
  grid-column: 1/-1;
  grid-row: header-start/ header-end;
  padding: 10rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1100px 1fr; }

.hero {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 45% 55%;
  align-items: center;
  justify-content: center; }
  .hero-text-main {
    font-size: 5rem;
    font-weight: 600;
    color: #272556; }
  .hero-text-mini {
    font-size: 2.8rem;
    font-weight: 600;
    color: #f25c05;
    margin-bottom: 2rem; }
  .hero-image_image {
    height: 60rem; }

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem; }

.delivered-imgs {
  display: flex; }

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9; }

.delivered-imgs img:last-child {
  margin: 0; }

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: #272556; }

.delivered-text span {
  color: #f25c05;
  font-weight: 700; }

.section-feature {
  background-image: linear-gradient(to right, rgba(249, 248, 248, 0.93), rgba(224, 223, 223, 0.05));
  grid-column: 1/-1;
  grid-row: featured-start/ about-end;
  padding: 10rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1100px 1fr; }

.feature {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content max-content;
  text-align: center;
  font-size: 5rem;
  font-weight: 600; }
  .feature-heading {
    color: #272556;
    grid-row: 1/2;
    margin: 4rem 0 6rem 0; }
    .feature-heading_span {
      color: #f25c05;
      text-decoration: underline; }
  .feature .featured {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(6rem, 1fr));
    grid-template-rows: repeat(2, 1fr);
    row-gap: 4rem;
    column-gap: 10rem; }
    .feature .featured-group-icon {
      font-size: 3.5rem;
      margin-bottom: 3.5rem; }
      .feature .featured-group-icon .icon-lock {
        background-image: linear-gradient(to bottom, rgba(243, 239, 253, 0.93), rgba(219, 208, 250, 0.93));
        padding: 3rem 3rem;
        color: #8763ee;
        border-radius: 50px; }
      .feature .featured-group-icon .icon-globe {
        background-image: linear-gradient(to bottom, rgba(178, 242, 187, 0.93), rgba(140, 233, 154, 0.93));
        padding: 3rem 3rem;
        color: #099268;
        border-radius: 20px; }
      .feature .featured-group-icon .icon-business-time {
        background-image: linear-gradient(to bottom, rgba(254, 239, 230, 0.93), rgba(252, 222, 205, 0.93));
        padding: 3rem 3rem;
        color: #f25c05;
        border-radius: 50px; }
      .feature .featured-group-icon .icon-user-secret {
        background-image: linear-gradient(to bottom, rgba(231, 243, 245, 0.93), rgba(206, 231, 235, 0.93));
        padding: 3rem 3rem;
        color: #0c8599;
        border-radius: 50px; }
      .feature .featured-group-icon .icon-user-shield {
        background-image: linear-gradient(to bottom, rgba(229, 212, 226, 0.93), rgba(217, 191, 211, 0.93));
        padding: 3rem 3rem;
        color: #7f2a6c;
        border-radius: 20px; }
      .feature .featured-group-icon .icon-mask {
        background-image: linear-gradient(to bottom, rgba(211, 234, 253, 0.93), rgba(188, 224, 251, 0.93));
        padding: 3rem 3rem;
        color: #2196f3;
        border-radius: 50px; }
    .feature .featured-group-heading {
      font-size: 2rem;
      font-weight: 600;
      color: #272556; }
    .feature .featured-group-text {
      font-size: 1.5rem;
      color: #272556; }

.section-about {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.93), rgba(230, 230, 230, 0.05));
  grid-column: 1/-1;
  grid-row: about-start/ about-end;
  padding: 10rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1100px 1fr; }

.about {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative; }
  .about-heading {
    position: relative;
    font-size: 5rem;
    font-weight: 600;
    color: #272556; }
    .about-heading .about-span {
      color: #f25c05; }
  .about .stroke {
    width: 30rem;
    position: absolute;
    top: 100%;
    left: 45%; }
  .about-text {
    margin-top: 5rem;
    padding-bottom: 5rem;
    color: #272556;
    font-size: 2.5rem; }

.navigation-header {
  background-image: linear-gradient(to right, rgba(253, 241, 221, 0.93), rgba(255, 242, 220, 0.93));
  grid-column: 1/-1;
  grid-row: navigation-start/ navigation-end;
  padding: 4rem;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1080px 1fr; }

.navigation {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigation .logo {
    width: 6rem;
    height: 6rem; }
  .navigation .main-nav-list {
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center; }
  .navigation .main-nav-link:link,
  .navigation .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #272556;
    font-weight: 600;
    font-size: 2rem;
    transition: all 0.5s; }
  .navigation .main-nav-link:hover,
  .navigation .main-nav-link:active {
    color: #f25c05; }
  .navigation .main-nav-link.hero-btn-login,
  .navigation .main-nav-link.hero-btn-reg {
    background-color: #272556;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 3.5rem;
    border-radius: 5rem;
    transition: all 0.5s;
    border: none;
    margin-right: 0; }
    .navigation .main-nav-link.hero-btn-login:hover,
    .navigation .main-nav-link.hero-btn-reg:hover {
      transform: scale(1.1); }
  .navigation .main-nav-link.hero-btn-reg {
    background-color: #fff;
    color: #272556;
    box-shadow: inset 0px 0px 0px 2px #272556;
    transition: all 0.5s; }
    .navigation .main-nav-link.hero-btn-reg:hover {
      transform: scale(1.1);
      background-color: #e9e9ee; }
