.section-about {
    background-image: linear-gradient(to right, rgba(#fff, .93), rgba(#e6e6e6, .05));
    grid-column: 1/-1;
    grid-row: about-start/ about-end;
    padding: 10rem 4rem;

    display: grid;
    grid-template-columns: 1fr 1100px 1fr;
}

.about {
    grid-column: 2/3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;


    &-heading {
        position: relative;
        font-size: 5rem;
        font-weight: 600;
        color: $color-grey-dark-1;

        .about-span {
            color: $color-grey-light-1;
        }
    }

    .stroke {
        width: 30rem;
        position: absolute;
        top: 100%;
        left: 45%;
    }

    &-text {
        margin-top: 5rem;
        padding-bottom: 5rem;
        color: $color-grey-dark-1;
        font-size: 2.5rem;
    }


}