.section-about {
    background-image: linear-gradient(to right, rgba($color-grey-light-2, 2), rgba($color-grey-light-2, .95));
    grid-column: 1/-1;
    grid-row: about-start/ about-end;
    padding: 8rem 2rem;

    display: grid;
    grid-template-columns: 1fr 900px 1fr;

    @media only screen and (max-width:$bp-largest) {
        grid-template-columns: 100%;
        grid-template-columns: 1fr 100% 1fr;
    }

    @media only screen and (max-width:$bp-big) {
        grid-template-columns: 100%;
    }

}

.about {
    grid-column: 2/3;
    text-align: center;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;

    @media only screen and (max-width:$bp-big) {
        grid-column: 1/-1;
        width: 95%;
    }

    &-heading {
        font-size: 5rem;
        font-weight: 700;
        color: $color-grey-dark-1;
        margin-bottom: 2rem;
        position: relative;

        @media only screen and (max-width:$bp-big) {
            margin-top: 3rem;
            font-size: 3.5rem;
        }

        @media only screen and (max-width:$bp-small) {
            // font-size: 2.5rem;
        }

        .about-span {
            font-weight: 500;
            color: $color-secondary-dark;
        }
    }

    .stroke {
        width: 30rem;
        position: absolute;
        top: 100%;
        left: 46%;

        @media only screen and (max-width:$bp-big) {
            width: 20rem;
        }

        @media only screen and (max-width:$bp-small) {
            width: 17rem;
        }
    }

    &-text {
        font-weight: 400;
        margin-top: 5rem;
        padding-bottom: 5rem;
        color: $color-grey-dark-1;
        font-size: 2.5rem;

        @media only screen and (max-width:$bp-big) {
            font-size: 2.7rem;
            margin-top: 6rem;
        }

        // @media only screen and (max-width:$bp-small) {
        //     font-size: 1.8rem;
        //     margin-top: 2.5rem;
        // }
    }
}