// COLOR VARIABLES
$color-primary: #265ca5;
$color-primary-light: #2b5c9d;

$color-secondary-light: #d4deed;
$color-secondary-dark: #22b6d8;

$color-grey-light-1: #fff;
$color-grey-light-2: #eef1f6;

$color-grey-dark-1: #12468a;
$color-grey-dark-2: #202c6c;
$color-grey-dark-3: #07155c;

// FONT VARIABLES
$font-primary: 'Montserrat', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE VARIABLES
// RESPONSIVE VARIABLES
$bp-largest: 75em; //
$bp-larger: 62.5em; //
$bp-big: 50.3em; //
$bp-large: 45.7em; //
$bp-medium: 38.6em; //
$bp-small: 30.5em; //
$bp-smaller: 20.8em; //
$bp-smallest: 30em;

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 62.5%;

   @media only screen and (max-width:$bp-largest) {
      font-size: 50%;
   }

   @media only screen and (max-width:$bp-medium) {
      font-size: 40%;
   }

   @media only screen and (max-width:$bp-smaller) {
      font-size: 30%;
   }
}

body {
   font-family: $font-primary;
   font-display: swap;
   color: $color-primary;
   font-weight: 300;
   line-height: 1.4;
}

.container {
   overflow-x: hidden;
   display: grid;
   grid-template-rows: [countdown-start] max-content [countdown-end navigation-start] max-content [navigation-end header-start] 1fr[header-end about-start] max-content [about-end featured-start] max-content [featured-end pricing-start] max-content [pricing-end footer-start] min-content [footer-end];

   grid-template-columns: 1fr repeat(6, [col-start] minmax(min-content, 14rem)[col-end]) 1fr;
}