.section-countdown {
   background-image: linear-gradient(to right, rgba($color-grey-light-2, 2), rgba($color-grey-light-2, .95));
   grid-column: 1/-1;
   grid-row: countdown-start/ countdown-end;
   padding: 10rem 2rem;
   // padding: 25vh 2rem;
   display: grid;
   align-items: center;
   // grid-template-rows: 80vw;

   @media only screen and (max-width:$bp-largest) {
      grid-template-columns: 100%;
      grid-template-columns: 1fr 100% 1fr;
   }

   @media only screen and (max-width:$bp-big) {
      grid-template-columns: 100%;
   }
}

.countdown {
   grid-column: 1/-1;
   text-align: center;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 100%;
}

.section-countdown {
   margin-top: 4rem;
   z-index: 2;
   background-color: black;
   width: 100%;
   height: 100vh;
   overflow: hidden;
   position: relative;
}

.section-countdown__bg {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   background-image: url(../img/countdown.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.section-countdown__bg::before {
   display: block;
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   // background: black;
   background: $color-primary;
   pointer-events: none;
   opacity: 0.3;
}

.section-countdown__bg::after {
   display: block;
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(0deg, rgb(0, 0, 0) 15%, rgba(0, 0, 0, 0) 100%);
   // background: linear-gradient(to right, rgba($color-primary, .5), rgba($color-primary-light, .5));
   pointer-events: none;
   opacity: 0.5;
}

.section-countdown__content {
   width: 100%;
   z-index: 2;
   align-items: flex-start;
   height: 100%;
   color: white;
   position: relative;
}

.section-countdown__content-top {
   display: flex;
   align-items: flex-start;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 3.5rem;
}

.section-countdown__content-top h1,
.section-countdown__content-top p {
   flex: 1;
}

.section-countdown__content-top h1 {
   font-weight: 500;
   font-size: 2.5rem;
   line-height: 1.333;
   color: $color-grey-light-1;
   margin-top: 0;
   margin-bottom: 1rem;
   text-align: center;
}

// .section-countdown__content-top p {
//    color: $color-grey-light-2;
//    font-size: 1.8rem;
//    text-align: left;
// }

.section-countdown__content-sep {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 100%;
   margin-right: auto;
   margin-left: auto;
   margin-top: 2rem;
   margin-bottom: 2.5rem;
}

.section-countdown__content-sep span {
   display: inline-block;
}

.section-countdown__content-sep span:first-child,
.section-countdown__content-sep span:last-child {
   flex: 1;
   height: 1px;
   background-color: rgba($color-grey-dark-1, 0.6);
}

.section-countdown__content-sep span:nth-child(2) {
   font-weight: 500;
   font-size: 1.4rem;
   text-transform: uppercase;
   letter-spacing: 0.4em;
   background-color: rgba($color-grey-dark-1, 0.6);
   border: 1px solid rgba($color-grey-dark-1, 0.6);
   border-radius: 5px;
   padding: 0.75rem 1rem;
}

.section-countdown .counter {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

.section-countdown .counter__time {
   justify-content: center;
   font-weight: 600;
   font-size: 10rem;
   text-align: center;
   color: white;
   margin-right: 1.5rem;
   margin-left: 1.5rem;
   margin-bottom: 0.5rem;
}

.section-countdown .counter__time span {
   display: block;
   transition: all 0.3s ease-in-out;
}

.section-countdown .counter__time span:first-child {
   letter-spacing: -0.03em;
   line-height: 1;
}

.section-countdown .counter__time span:last-child {
   font-weight: 400;
   font-size: 0.14em;
   line-height: 1;
   color: rgba(255, 255, 255, 0.6);
}

///////////////////////////////

.section-countdown-subscribe {
   width: 75%;
   max-width: 100%;
   text-align: center;
   margin-right: auto;
   margin-left: auto;
   margin-top: 3rem;

   @media only screen and (max-width:$bp-small) {
      width: 90%;
   }

}

.section-countdown-subscribe .notify-form {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   margin-top: 2.5rem;

   @media only screen and (max-width:$bp-small) {
      flex-direction: column;
   }

}

.section-countdown-subscribe input[type=email],
.section-countdown-subscribe button {
   margin-bottom: 2rem;

   @media only screen and (max-width:$bp-small) {
      margin-bottom: 0;
   }
}

.section-countdown-subscribe input[type=email] {
   width: 70%;
   background-color: rgba(255, 255, 255, 0.155);
   font-size: 2rem;
   border: 1px solid transparent;
   border-right: none;
   border-radius: 5px 0 0 5px;
   padding: 2rem 2.4rem;
   box-shadow: none;
   color: white;
   text-align: left;

   @media only screen and (max-width:$bp-small) {
      width: 100%;
      border-radius: 5px 5px 0 0;
   }
}

input::placeholder {
   color: rgba($color-secondary-light, 0.6);
   opacity: 1;

   @media only screen and (max-width:$bp-small) {
      text-align: center;
   }
}

input:focus {
   outline: 0;
}

.section-countdown-subscribe button {
   width: 30%;
   padding: 2rem 2.4rem;
   margin-right: 0;
   border-radius: 0 5px 5px 0;
   border: 0;
   background-color: $color-primary;
   color: $color-grey-light-1;
   font-size: 2rem;
   transition: .3s;
   position: relative;

   @media only screen and (max-width:$bp-small) {
      width: 100%;
      border-radius: 0 0 5px 5px;
   }

   &:hover {
      background-color: #1b4073;
   }

}