.section-data {
   background-image: linear-gradient(to right, rgba($color-grey-light-2, 2), rgba($color-grey-light-2, .95));
   grid-column: 1/-1;
   grid-row: about-start/ about-end;
   padding: 8rem 2rem;

   display: grid;
   grid-template-columns: 1fr 100rem 1fr;

   @media only screen and (max-width:$bp-largest) {
      grid-template-columns: 100%;
      grid-template-columns: 1fr 100% 1fr;
   }

   @media only screen and (max-width:$bp-big) {
      grid-template-columns: 100%;
   }

}

.data {
   grid-column: 2/3;
   margin: 0 auto;

   display: flex;
   flex-direction: column;
   // align-items: center;
   // justify-content: center;
   // text-align: center;
   width: 80%;

   @media only screen and (max-width:$bp-big) {
      grid-column: 1/-1;
      width: 95%;
   }

   &-header {
      font-size: 5rem;
      font-weight: 700;
      color: $color-grey-dark-1;
      margin: 2rem 0;
      // position: relative;
      text-align: center;

      @media only screen and (max-width:$bp-big) {
         margin-top: 3rem;
         font-size: 3.5rem;
      }

      @media only screen and (max-width:$bp-small) {
         // font-size: 2.5rem;
      }

      &-mini {
         font-size: 4rem;
         font-weight: 600;
         text-align: center;
         margin-bottom: 5rem;

         @media only screen and (max-width:$bp-big) {
            font-size: 3rem;
         }
      }

   }

   &-heading {
      font-weight: 600;
      margin-bottom: 2rem;
      color: $color-grey-dark-1;
      font-size: 3.5rem;
      text-align: left;
   }

   &-text {
      font-weight: 400;
      color: $color-grey-dark-1;
      font-size: 2.5rem;
      margin-bottom: 2rem;

      @media only screen and (max-width:$bp-big) {
         font-size: 2.7rem;
         margin-top: 6rem;
      }

      &-list {
         list-style-type: square;
         font-weight: 400;
         color: $color-grey-dark-1;
         font-size: 2.5rem;
         margin-left: 3rem;
         padding-left: 1rem;
      }


      // @media only screen and (max-width:$bp-small) {
      //     font-size: 1.8rem;
      //     margin-top: 2.5rem;
      // }
   }
}