.section-feature {
    background-image: linear-gradient(to right, rgba(#f9f8f8, .93), rgba(#e0dfdf, .05));
    grid-column: 1/-1;
    grid-row: featured-start/ about-end;
    padding: 10rem 4rem;

    display: grid;
    grid-template-columns: 1fr 1100px 1fr;
}

.feature {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content max-content;

    text-align: center;
    font-size: 5rem;
    font-weight: 600;


    &-heading {
        color: $color-grey-dark-1;
        grid-row: 1/2;
        margin: 4rem 0 6rem 0;

        &_span {
            color: $color-grey-light-1;
            text-decoration: underline;
        }
    }

    .featured {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, minmax(6rem, 1fr));
        grid-template-rows: repeat(2, 1fr);
        row-gap: 4rem;
        column-gap: 10rem;
        ;

        &-group {
            &-icon {
                font-size: 3.5rem;
                margin-bottom: 3.5rem;

                .icon-lock {
                    background-image: linear-gradient(to bottom, rgba(#f3effd, .93), rgba(#dbd0fa, .93));
                    padding: 3rem 3rem;
                    color: #8763ee;
                    border-radius: 50px;
                }

                .icon-globe {
                    background-image: linear-gradient(to bottom, rgba(#b2f2bb, .93), rgba(#8ce99a, .93));
                    padding: 3rem 3rem;
                    color: #099268;
                    border-radius: 20px;
                }

                .icon-business-time {
                    background-image: linear-gradient(to bottom, rgba(#feefe6, .93), rgba(#fcdecd, .93));
                    padding: 3rem 3rem;
                    color: #f25c05;
                    border-radius: 50px;
                }

                .icon-user-secret {
                    background-image: linear-gradient(to bottom, rgba(#e7f3f5, .93), rgba(#cee7eb, .93));
                    padding: 3rem 3rem;
                    color: #0c8599;
                    border-radius: 50px;
                }

                .icon-user-shield {
                    background-image: linear-gradient(to bottom, rgba(#e5d4e2, .93), rgba(#d9bfd3, .93));
                    padding: 3rem 3rem;
                    color: #7f2a6c;
                    border-radius: 20px;
                }

                .icon-mask {
                    background-image: linear-gradient(to bottom, rgba(#d3eafd, .93), rgba(#bce0fb, .93));
                    padding: 3rem 3rem;
                    color: #2196f3;
                    border-radius: 50px;
                }
            }

            &-heading {
                font-size: 2rem;
                font-weight: 600;

                color: $color-grey-dark-1
            }

            &-text {
                font-size: 1.5rem;
                color: $color-grey-dark-1
            }
        }
    }
}