.section-footer {
    background-image: linear-gradient(to right, rgba($color-primary, 2), rgba($color-primary-light, 1));
    grid-column: 1/-1;
    grid-row: footer-start/ footer-end;
    padding: 5rem 2rem;

    display: grid;
    grid-template-columns: 1fr 100rem 1fr;

    @media only screen and (max-width:$bp-largest) {
        grid-template-columns: 1fr 100% 1fr;
        padding: 4rem 2rem;
    }


    @media only screen and (max-width:$bp-big) {
        padding: 2.5rem 1rem 1.5rem 1rem;
    }
}

.footer {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;


    @media only screen and (max-width:$bp-larger) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 3rem;
        padding: 0 6rem;
    }

    @media only screen and (max-width:$bp-medium) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 3rem;
        padding: 0 6rem;
    }

    &-image {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        @media only screen and (max-width:$bp-larger) {
            grid-column: 1/-1;
        }
    }

    &-text {

        font-size: 2.5rem;
        color: $color-secondary-light;
        transition: all 1s;

        &:hover {
            color: $color-grey-light-1;
        }
    }

    &-logo {
        height: 4rem;

        &:hover {
            color: $color-grey-light-1;
            transform: scale(1.1);
        }
    }

    &-nav-list {
        list-style: none;
        display: flex;
        gap: 2.5rem;
        align-items: center;
        justify-content: center;
    }

    &-nav-link:link,
    &-nav-link:visited {
        display: inline-block;
        text-decoration: none;
        color: $color-secondary-light;
        font-weight: 500;
        font-size: 2rem;
        position: relative;

        &::before {
            transition: all .3s;
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            content: '';
            height: 1px;
            width: 0px;
            background-color: $color-grey-light-1;
        }
    }

    &-nav-link:hover,
    &-nav-link:active {
        color: $color-grey-light-1;
        // text-decoration: underline;
        transform: scale(1.1);

        &::before {
            width: 100%;
        }
    }

    &-socials {
        display: grid;
        grid-template-columns: repeat(4, 5rem);
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .social {
            font-size: 2.5rem;
            color: $color-grey-light-1;
            text-decoration: none;
        }
    }
}

.social:hover .a,
.social .b {
    display: none;
}

.social:hover .b {
    display: inline;
    font-size: 3.5rem;
}