.section-hero {
    background-image: linear-gradient(to right, rgba($color-primary, 2), rgba($color-primary-light, .93)), url(../img/hero-image.svg);
    background-size: cover;
    background-position: center;
    grid-column: 1/-1;
    grid-row: header-start/ header-end;
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr 900px 1fr;

    @media only screen and (max-width:$bp-largest) {
        grid-template-columns: 1fr 100% 1fr;
    }

    @media only screen and (max-width:$bp-big) {
        grid-template-rows: 100%;
    }
}

.hero {
    grid-column: 2/3;

    display: grid;
    grid-template-columns: 45% 55%;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;


    @media only screen and (max-width:$bp-larger) {
        grid-template-columns: repeat(2, 50%);
    }

    @media only screen and (max-width:$bp-big) {
        grid-template-columns: 1fr;
        grid-template-rows: 70vh max-content;
        margin-top: 3rem;
        padding: 9rem 0;
    }

    &-text {

        @media only screen and (max-width:$bp-big) {
            grid-row: 1/2;
            text-align: center;
        }

        &-main {
            font-size: 5.2rem;
            line-height: 1.1;
            font-weight: 700;
            color: $color-grey-light-1;
            margin-bottom: 2.5rem;

            @media only screen and (max-width:$bp-larger) {
                font-size: 4.4rem;
            }

            @media only screen and (max-width:$bp-big) {
                font-size: 8.5rem;
                margin-bottom: 1.5rem;
                grid-row: 1/2;
            }

            @media only screen and (max-width:$bp-medium) {
                margin-bottom: 2rem;
            }

            // @media only screen and (max-width:$bp-small) {
            //     font-size: 5.4rem;
            // }
        }

        &-mini {
            font-size: 2rem;
            line-height: 1.2;
            font-weight: 500;
            color: $color-grey-light-2;

            @media only screen and (max-width:$bp-largest) {
                font-size: 1.85rem;
            }

            @media only screen and (max-width:$bp-larger) {
                font-size: 1.6rem;
            }

            @media only screen and (max-width:$bp-big) {
                font-size: 4rem;
            }

            @media only screen and (max-width:$bp-medium) {
                // font-size: 2.8rem;
                padding-bottom: 2rem;
            }

            @media only screen and (max-width:$bp-small) {
                // font-size: 2rem;
                font-weight: 400;
                padding-bottom: 2rem;
            }
        }
    }

    &-btn {

        &-text {
            font-size: 1.4rem;
            font-weight: 500;
            color: $color-grey-light-2;
            margin: 1rem 0 2rem 0;

            @media only screen and (max-width:$bp-big) {
                font-size: 3rem;
                text-align: center;
                margin: 2rem 0 1rem 0;
                text-align: center;
                display: grid;
                justify-content: center;
            }

            @media only screen and (max-width:$bp-medium) {
                // font-size: 2rem;
                font-weight: 400;
                margin-bottom: 2rem;
            }

            @media only screen and (max-width:$bp-small) {
                // font-size: 1.5rem;
            }
        }

        &-login,
        &-reg {
            background-color: $color-grey-dark-1;
            color: $color-grey-light-1;
            font-size: 1.6rem;
            font-weight: 600;
            font-family: $font-primary;
            text-transform: uppercase;
            cursor: pointer;
            padding: 1.2rem 2rem;
            border-radius: 5rem;
            transition: all 0.5s;
            border: none;
            box-shadow: inset 0 0 0 1px $color-secondary-light;

            &:not(:last-child) {
                margin-right: 1.5rem;

                @media only screen and (max-width:$bp-largest) {
                    margin-bottom: 1.5rem;
                }
            }

            @media only screen and (max-width:$bp-largest) {
                font-size: 1.4rem;
            }

            @media only screen and (max-width:$bp-larger) {
                font-size: 1.2rem;
            }

            @media only screen and (max-width:$bp-big) {
                font-size: 2.4rem;
            }

            @media only screen and (max-width:$bp-medium) {
                // font-size: 1.4rem;
            }

            &:hover {
                transform: scale(1.1);
            }
        }

        &-reg {
            background-color: #fff;
            color: $color-grey-dark-1;
            box-shadow: inset 0px 0px 0px 2px $color-grey-dark-1;
            transition: all 0.5s;

            &:hover {
                transform: scale(1.1);
                background-color: $color-secondary-light;
            }
        }
    }

    &-image {
        @media only screen and (max-width:$bp-big) {
            text-align: center;
            padding-top: 4rem;
        }


        &_image {
            height: 60rem;

            @media only screen and (max-width:$bp-larger) {
                height: 50%
            }

            @media only screen and (max-width:$bp-big) {
                width: 80%;
            }

            @media only screen and (max-width:$bp-small) {
                width: 100%;
            }
        }
    }
}

.delivered-emails {
    display: flex;
    align-items: center;
    gap: 1.6rem;


    @media only screen and (max-width:$bp-big) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .delivered-text {
        font-size: 1.4rem;
        font-weight: 600;
        color: $color-secondary-light ;

        @media only screen and (max-width:$bp-larger) {
            font-size: 1.5rem;
        }

        @media only screen and (max-width:$bp-big) {
            font-size: 3rem;
        }
    }

    .delivered-text span {
        color: $color-grey-light-1;
        font-weight: 700;
    }
}