.section-hero {
    background-image: linear-gradient(to right, rgba($color-primary, .9), rgba($color-primary-light, .53)), url(../img/email-secure.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 1/-1;
    grid-row: header-start/ header-end;
    display: grid;
    grid-template-rows: 80vh;
    padding: 6rem 4rem;


    @media only screen and (max-width:$bp-big) {
        grid-template-rows: 85vh;
    }
}

.hero {
    grid-column: 1/-1;
    text-align: center;
    display: grid;
    grid-template-columns: 80vw;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width:$bp-big) {
        margin-top: 3rem;
    }

    &-text {

        @media only screen and (max-width:$bp-big) {
            grid-row: 1/2;
            text-align: center;
        }

        &-main {
            font-size: 8.5rem;
            line-height: 1.1;
            font-weight: 700;
            color: $color-grey-light-1;
            margin-bottom: 2.5rem;

            @media only screen and (max-width:$bp-larger) {
                font-size: 6.5rem;
            }

            @media only screen and (max-width:$bp-big) {
                font-size: 6rem;
                margin-bottom: 1.5rem;
                grid-row: 1/2;
            }

            @media only screen and (max-width:$bp-medium) {
                font-size: 7rem;
                margin-bottom: 2rem;
            }

            // @media only screen and (max-width:$bp-small) {
            //     font-size: 5.4rem;
            // }
        }

        &-mini {
            font-size: 4rem;
            line-height: 1.2;
            font-weight: 500;
            color: $color-grey-light-2;

            @media only screen and (max-width:$bp-larger) {
                font-size: 3.8rem;
            }

            @media only screen and (max-width:$bp-big) {
                font-size: 3rem;
            }

            @media only screen and (max-width:$bp-medium) {
                font-size: 3rem;
                padding-bottom: 2rem;
            }

            @media only screen and (max-width:$bp-small) {
                // font-size: 2.5rem;
                font-weight: 400;
                padding-bottom: 2rem;
            }
        }
    }

    &-btn {
        &-text {
            font-size: 2.5rem;
            font-weight: 500;
            color: $color-grey-light-2;
            margin: 1rem 0 2rem 0;

            @media only screen and (max-width:$bp-big) {
                font-size: 2.2rem;
                text-align: center;
                margin: 2rem 0 1rem 0;
                text-align: center;
                display: grid;
                justify-content: center;
            }

            @media only screen and (max-width:$bp-medium) {
                font-size: 2.3rem;
                font-weight: 400;
                margin-bottom: 2rem;
            }

            @media only screen and (max-width:$bp-small) {
                // font-size: 1.5rem;
            }
        }

        &-dark {
            margin-right: 1.5rem;
        }
    }

    &-image {
        @media only screen and (max-width:$bp-big) {
            text-align: center;
            padding-top: 4rem;
        }


        &_image {
            height: 60rem;

            @media only screen and (max-width:$bp-larger) {
                height: 50%
            }

            @media only screen and (max-width:$bp-big) {
                width: 80%;
            }

            @media only screen and (max-width:$bp-small) {
                width: 100%;
            }
        }
    }
}

.delivered-emails {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;


    @media only screen and (max-width:$bp-big) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .delivered-text {
        font-size: 1.4rem;
        font-weight: 600;
        color: $color-secondary-light ;
        margin-top: 1.5rem;

        @media only screen and (max-width:$bp-larger) {
            font-size: 1.5rem;
        }

        @media only screen and (max-width:$bp-big) {
            font-size: 3rem;
        }
    }

    .delivered-text span {
        color: $color-grey-light-1;
        font-weight: 700;
    }
}