.navigation-header {
    background-image: linear-gradient(to right, rgba($color-primary, 2), rgba($color-primary-light, .93));
    grid-column: 1/-1;
    grid-row: navigation-start/ navigation-end;
    padding: 2rem;
    padding-bottom: 0;

    display: grid;
    grid-template-columns: 1fr 900px 1fr;

    @media only screen and (max-width:$bp-largest) {
        grid-template-columns: 1fr 100% 1fr;
        padding: 2rem 5rem
    }
}

.navigation {
    grid-column: 2/3;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 4rem;
        height: 4rem
    }

    .main-nav-list {
        list-style: none;
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        display: inline-block;
        text-decoration: none;
        color: $color-grey-light-1;
        font-weight: 400;
        font-size: 1.6rem;
        transition: all 0.3s;
    }

    .main-nav-link:hover,
    .main-nav-link:active {
        color: $color-secondary-light;
        transform: scale(1.1);
    }

    .main-nav-link.hero-btn-login,
    .main-nav-link.hero-btn-reg {
        background-color: $color-grey-dark-1;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 500;
        font-family: $font-primary;
        text-transform: uppercase;
        cursor: pointer;
        padding: 1rem 1.8rem;
        border-radius: 5rem;
        margin-right: 0rem;
        transition: all 0.3s;
        border: none;


        &:hover {
            transform: scale(1.1);
        }
    }

    .main-nav-link.hero-btn-reg {
        background-color: #fff;
        color: $color-grey-dark-1;
        box-shadow: inset 0px 0px 0px 2px $color-grey-dark-1;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
            background-color: $color-secondary-light;
        }
    }
}