%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading_1 {
    @extend %heading;
    font-size: 4.5rem;
    color: $color-grey-light-1;
    line-height: 1;
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;


    &--light {
        color: $color-grey-light-1;
    }

    &--dark {
        color: $color-grey-dark-1;
    }
}

.heading_3 {
    @extend %heading;
    font-size: 1.6rem;
    color: $color-primary-dark;
    text-transform: uppercase;
}

.heading-4 {
    @extend %heading;
    font-size: 1.9rem;


    &--light {
        color: $color-grey-light-1;
    }

    &--dark {
        color: $color-grey-dark-1;
    }
}

.btn {
    background-color: $color-primary-dark;
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: $font-display;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: $color-primary-dark;
    }
}


.hero-btn {
    &-text {
        font-size: 1.8rem;
        color: $color-grey-dark-1;
        margin: 2.5rem 0;
    }

    &-login,
    &-reg {
        background-color: $color-grey-dark-1;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 400;
        padding: 1.5rem 4.5rem;
        border-radius: 5rem;
        margin-right: 3rem;
        transition: all 0.5s;
        border: none;


        &:hover {
            transform: scale(1.1);
        }
    }

    &-reg {
        background-color: #fff;
        color: $color-grey-dark-1;
        box-shadow: inset 0px 0px 0px 2px $color-grey-dark-1;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.1);
            background-color: #e9e9ee;
        }
    }
}